body{
  background-image: url("https://wallpaperaccess.com/full/267434.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#form{
    background-color: rgb(255, 255, 255);
    width:25%;
    border-radius: 4px;
    margin:120px auto;
    padding:50px;
    box-shadow: 10px 10px 5px blue;
}

#btn{
    color:rgb(255, 255, 255);
    background-color: blue;
    padding:10px;
    font-size: large;
    border-radius: 10px;
}

@media screen and (max-width: 570px) {
    #form {
      width: 65%;
      margin-left:none;
      padding:40px;
    }
  }
  h1{
    text-shadow: 2px 2px goldenrod;
  }
 
